{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 Class="text-center">{{ title }}</h1>
    <h1 Class="text-center">{{ text }}</h1> 
  {# {% if is_granted('ROLE_ETUDIANT') %}
    <a class="btn btn-lg btn-primary m-2" href="{{path('app_inscription')}}">GESTION DES INSCRIPTIONS<a/>
    {% endif %}
    <a class="btn btn-lg btn-danger m-2" href="{{path('app_attache')}}">GESTION DES ATTACHES<a/>
    <a class="btn btn-lg btn-success m-2" href="">GESTION DES PROFESSEURS<a/>
    <a class="btn btn-lg btn-dark m-2" href="">GESTION DES ETUDIANTS<a/>
    <a class="btn btn-lg btn-dark m-2" href="{{path('app_demande')}}">GESTION DES DEMANDES<a/> #}

</div>
{% endblock %}
