{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ title }}</h1>
</div>
{{form_start(form)}}
{{ form_row(form.nomComplet,{'attr':{ 'class':'form-control' }}) }}
{{ form_row(form.email,{'attr':{ 'class':'form-control' }}) }}
{{ form_row(form.matricule,{'attr':{ 'class':'form-control' }}) }}
{{ form_row(form.password,{'attr':{ 'class':'form-control' }}) }}
{{ form_row(form.adresse,{'attr':{ 'class':'form-control' }}) }}
{{ form_row(form.sexe,{'attr':{ 'class':'form-control' }}) }}



    <div class="mb-3">
                <label class=" font-weight-bold" for="">Ac</label>
                <select name="att" id=""  class="form-control">
                <option disabled selected>--Veillez choisir un Ac--</option>
             {% for acs in ac %}
                    <option value="{{acs.id}}">{{acs.nomComplet}}</option> 
             {% endfor %}    
                </select> 
            </div>

  <div class="mb-3">
                <label class=" font-weight-bold" for="">Année universitaire</label>
                <select name="annee" id="" class="form-control">
                {% for annee in annees %}
                    <option value="{{annee.id}}">{{annee.libelle}}</option>
                {% endfor %}
                </select> 
            </div>

    <div class="mb-3">
                <label class=" font-weight-bold" for="">Classe</label>
                <select name="classe" id=""  class="form-control">
                <option disabled selected>--Veillez choisir une classe --</option>
             {% for classe in classes %}
                    <option value="{{classe.id}}">{{classe.nomClasse}}</option>
             {% endfor %}
                </select> 
            </div>

               <div class="mb-3">
                <label class=" font-weight-bold" for="">Niveau</label>
                <select name="niveau" id=""  class="form-control">
                <option disabled selected>--Veillez choisir un niveau --</option>
             {% for niv in niveau %}
                    <option value="{{niv.id}}">{{niv.nomNiveau}}</option>
             {% endfor %}   
                </select> 
            </div>

               <div class="mb-3">
                <label class=" font-weight-bold" for="">Filieres</label>
                <select name="filiere" id=""  class="form-control">
                <option disabled selected>--Veillez choisir une filiere --</option>
             {% for fil in filieres %}
                    <option value="{{fil.id}}">{{fil.nomFiliere}}</option>
        
             {% endfor %}
                   
                </select> 
            </div>

 <button type="submit" class="btn btn-success bg-success  w-100">INSCRIRE</button>

{{form_end(form)}}
{% endblock %}
