{% extends 'base.html.twig' %}

{% block title %}liste etudiant{% endblock %}

{% block body %}

(())
   <div class="bg-primary mt-2 p-2 text-white">
<h1 class="text-center">{{title}}</h1>
</div>
<table class="table bg-white  w-100 table-striped">
   <tr class="text-center bg-danger border w-100">
      <th class="text-white">Numéro</th>
      <th class="text-white">Nom Complet</th>
      <th class="text-white">matricule</th>
      <th class="text-white">adresse</th>
      <th class="text-white">login</th>
      <th class="text-white">Informations</th>                                 >
      <!-- <td>Actions</td> -->
   </tr>
   {% set numero = 0 %} 
   {% for etudiant in etudiants %}
        <tr class="text-center">
         <td>{% set numero = numero+1 %} {{numero}}</td >
         <td>{{etudiant.matricule}}</td>
         <td>{{etudiant.nomComplet}}</td>
         <td> {{etudiant.adresse}}</td>
         <td> {{etudiant.email}}</td>
         <td class="text-center">
          {# <button class="bg-primary">Archiver</button> #}
         <a class="text-white" href="{{ path('app_detail_etudiant',{id:etudiant.id}) }}" ><button class="bg-dark text-white font-weight-bold" >Detail</a>
         <button class="bg-danger text-white " >Supprimer</button> 
      </td>
      </tr>
   {% endfor %}
    
  
</table

{% endblock %}
